<h1>LTI Launch Verified!</h1>
<ul>
	<li>lis_person_name_full is <b><%= @lis_person_name_full %></b></li>
	<li>Controller: Application#launch</li>
	<li>Template: app/views/application/launch.html.erb</li>
</ul>

<p>Note: You can see all the LIT params in your server console.</p>