<!DOCTYPE html>
<html lang="en-US">
<head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>LTI Template For Rails</title>
</head>
<body>
